@import "tailwindcss";

@layer base {
  :root {
    --font-rubik: 'Rubik', sans-serif;
    --font-manrope: 'Manrope', sans-serif;
    --subtitle: #afbbca;
  }
}

@layer utilities {
  .font-rubik {
    font-family: var(--font-rubik);
  }
  
  .font-manrope {
    font-family: var(--font-manrope);
  }
  .subtitle-gray{
    color: var(--subtitle);
  }
}

/* Custom gradient utility */
@layer utilities {
  .bg-custom-gradient {
    background: linear-gradient(176deg, rgb(18,24,27) 50%, rgb(32,55,42) 100%);
  }
}